.main {
  padding: 18px;
}

.contentWrapper {
  display: flex;
  margin-top: 24px;
}

.content {
  display: flex;
  width: 100%;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  gap: 16px;
}

.alpine {
  width: 300px;
}
